{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        table {
		    border-collapse: collapse;
		    width: 100%;
		}
		
		table, th ,td {
		    border: 1px solid black;
		}
		th, td {
		    padding: 15px;
		    text-align: left;
		    color: #46c1d2;
		}
 
		tr:nth-child(even) {
			background-color: #fafafa;
		}
		td {
			color: black;
		}
		
		.modal {
			display:none;
			position:fixed;
			z-index:1;
			width:10%;
			height:30px;
			overflow:auto;
			background-color: #fff;
			padding:5px;
			color: black;
			text-align: center;
		}
    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>
		<div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                    <table>
                    	<thead>
                    		<tr>
                    			<th>Display Name</th>
                    			<th>Tier</th>
                    			<th>Point Balance</th>
                    			<th>Phone Numbers</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    	{% for user in users %}
                    		<tr>
                    			<td><span id="{{ user.display_name.replace(' ','') + '_span' }}" onclick="show_location(this)" style="text-decoration:underline;"> {{ user.display_name }}  </span></td>
                    				<div id="{{ user.display_name.replace(' ','') + '_modal' }}" class="modal" onclick="close_modal(this)">
                    					{{ user.rel_users['LOCATION'].attribute }}
                    				</div>
                    			<td> {{ user.tier }} </td>
                    			<td> {{ user.point_balance }} </td>
                    			<td>
                    			{% for p in user.rel_user_multis %}
                    				 {{ p.attribute }} </br> 
                    			{% endfor %}
                    			</td>
                    		</tr>
                    	{% endfor %}
                    	</tbody>
                    </table>
                    <script>
                    	// Show our modal with the location of the user
                    	function show_location(elem) {
                    		
                    		// Hide all other modals
                    		var spans = document.getElementsByClassName('modal');
                    		for (var i=0; i < spans.length; i++) {
                				spans[i].style.display = "none";
                			}
                    		
                    		//Show our modal
                    		var id = elem.id.replace('span','modal');
                    		var x = event.clientX;
                    		var y = event.clientY;
                    		var modal = document.getElementById(id);
                    		modal.style.display = "inline";
                    		modal.style.left = x + 'px';
                    		modal.style.top = y + 'px';
                    	}
                    	
                    	// close our modal by clicking anywhere inside it
                    	function close_modal(elem) {
	                    	elem.style.display = "none";
	                    }
                    	
                    	// close any open modal by clciking outside the modal
                    	document.onclick =  function(event) {
                    		var clicked  = event.target.id;
                    		var spans = document.getElementsByClassName('modal');
                    		//If you click any element that does not have an id (e.g. the body) hide all modals.
                    		if (clicked == null || clicked == '') {
                    			for (var i=0; i < spans.length; i++) {
                    				spans[i].style.display = "none";
                    			}
                    		}
                    	}

                    </script>
                </div>
            </div>
        </div>
	</div>

{% endblock %}
